<% if @article.errors.any? %>
<h2>The following errors blocked new article update</h2>

<ul>
<% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
<% end %>
<h1>Edit</h1>
 


<%= form_for @article do |f| %>
    <%= f.label :title, 'Title' %>:<br>
    <%= f.text_field :title %><br>
    <%= f.label :description, 'Body' %>:<br>
    <%= f.text_area :description %><br>
    <%= submit_tag 'Submit' %>
  <% end %>

  <p>
    <%= link_to 'Articles Listings' , articles_path%>
  </p>
  <p>
  <%= link_to 'Show this article' , article_path(@article)%>
</p>